<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'/>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>LTI Template</title>
</head>

<body>
    <header>
        {% if not False | os_getenv('PRODUCTION') %}
            <div class="alert alert-warning">
                This is a test instance of Canvas Course Engagement.
            </div>
        {% endif %}
    </header>
        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>
    <footer></footer>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
            $('.collapse').on('shown.bs.collapse', function(e) {
                var $card = $(this).closest('.card');
                $('html,body').animate({
                    scrollTop: $card.offset().top
                }, 500);
            });


            // resize containing iframe height
            function resizeFrame(){
                console.log("resizing frame...");
                var default_height = document.body.scrollHeight + 50;
                default_height = default_height > 500 ? default_height : 500;

                // IE 8 & 9 only support string data, so send objects as string
                parent.postMessage(JSON.stringify({
                  subject: "lti.frameResize",
                  height: default_height
                }), "*");
            }

            // update iframe height on resize
            window.addEventListener("resize", function(){
                resizeFrame();
            });

            resizeFrame();

    </script>
</body>
</html>
