{% extends 'base.htm' %}
{% block content %}

<h2>Engagement of students in "{{ course_name }}"</h2>
<p>Select a student's name to be shown more in-depth information about their performance. See below for frequently asked questions.</p>

<table class="table" id="engagement-table">

    <caption>Table of student engagement in "{{ course_name }}"</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Current Grade %</th>
            <th>Page Views</th>
            <th>Page View Percentile <a class="badge badge-secondary" id="pvpExplain" data-toggle="modal" data-target="#pvpExplainModal" href="#">?</a></th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            {% if student.engagement == "Engage" %}
            <tr class="table-danger">
            {% elif student.engagement == "Explore" %}
            <tr class="table-warning">
            {% elif student.engagement == "Encourage" %}
            <tr class="table-success">
            {% else %}
            <tr class="">
            {% endif %}
                <td>
                    {% if student.page_views == 0 %}
                    {{ student.name }}
                    {% else %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ base_url }}courses/{{ course_id|urlencode }}/analytics/users/{{ student.user_id|urlencode }}">{{ student.name }}</a>
                    {% endif %}
                </td>
                <td>{{ student.engagement }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.page_views if student.page_views else 0 }}</td>
                <td>{{ student.page_view_percentile|round|int }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-light">
            <td colspan="2">Average grade</td>
            <td colspan="2" class="font-weight-bold">{{ average_grade }}%</td>
        </tr>
    </tfoot>
</table>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            How are these ratings calculated?
            </button>
        </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <p>The three-tier rating system is based on the University of Michigan's Student Explorer. It takes into account the student's grade, the course's average grade, and the student's activity within the course in Canvas to recommend a further course of action.</p>
            <ul>
                <li><span class="font-weight-bold">Engage:</span> Student is at a high risk of not completing this course successfully. Take action to engage the student in this course.</li>
                <li><span class="font-weight-bold">Explore:</span> Student has a moderate risk of not completing this course successfully. Explore options for growth with the student.</li>
                <li><span class="font-weight-bold">Encourage:</span> Student has a very low risk of not completing this course successfully. Encourage the student to continue to succeed.</li>
                <li><span class="font-weight-bold">Unrated:</span> There was not enough data available to rate the student.</li>
            </ul>
            <a href="{{ url_for('static', filename='img/classificationScheme.png') }}" target="_blank" rel="noopener noreferrer">
                Click here to see a diagram of the rating process
            </a>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What do other instructors do with this information?
            </button>
        </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <p>
                Other instructors have used this information to decide whether to take the following actions:
            </p>
            <ul>
                <li>Writing "See me after class" notes to students</li>
                <li>Sending direct e-mail or Canvas messages to students asking how they can help the students be successful.</li>
                <li>Sending an Early Alert</li>
            </ul>
            <p>
                This information is an additional data point for determining a course of action, not the only data point. Select a student's name in the table to see more information on their activity in your course.
            </p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can students see this page?
            </button>
        </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Students cannot view this page and it does not appear in their course navigation.
        </div>
        </div>
    </div>
</div>

<label class="d-none" id="pvpExplainmodalLabel">Page View Percentile Modal Popup</label>
<div class="modal fade" tabindex="-1" role="dialog" id="pvpExplainModal" aria-labelledby="pvpExplainmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Page View Percentile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Page View Percentile is a measure of a student's number of page views within a course against all the other students in a course. For example, a student with a Page View Percentile of 25 means that 75% of students in the class have more page views. A page view is counted each time a student clicks on something within that Canvas course (except for a link that leads to an external site).
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
